.input-box {
	position: relative;
	width: 100%;
}

.input-box input {
	width: 100%;
	background: #333;
	border: none;
	outline: none;
	padding: 15px 10px;
	border-radius: 4px;
	color: #FFF;
	font-weight: 500;
	font-size: 1em;
	margin: 10px;
}

.input-box label {
	position: absolute;
	left: 25px;
	top: 25px;
	transition: 0.4s ease all;
	color: #999;
	pointer-events: none;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
	top: 10px;
	left: 20px;
	font-size: 0.85em;
}
  